GRAFANA_BASE_URL=http://<internal-grafana-host>:3000
GRAFANA_POSTGRES_DATASOURCE_UID=<postgres-datasource-uid>
GRAFANA_PROMETHEUS_DATASOURCE_UID=<prometheus-datasource-uid>
LOCAL_CLUSTER_ID=<local-cluster-id>

CACHE_TTL_SECONDS=90

SQLITE_PATH=./data/wwsre.db

PUBLIC_API_PORT=8000
ADMIN_API_PORT=8001
